<!DOCTYPE html>
<html lang="en">
<head>
  <title>CELU - Sistema Interno</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/layout/main.css">
</head>
<body>
    <div class="row h-100">
        <div class="container col-sm-3 my-auto">
            <img class="img-login" src="content/img/celu_branco.png">
            <div class="form container">
                <div ><label class="label-login"><h6>Login:</h6></label></div>
                <div ><input class="btn btn-light"></div>
            </div>
            <div class="form container">
                <div ><label class="label-login"><h6>Senha:</h6></label></div>
                <div ><input class="btn btn-light"></div>
            </div>
            <div class="row">
                <a class="btn btn-light botao" href="C:\Projects\SistemaCelu\Views\login.html">Login</a>
                <a class="btn btn-light botao">Cadastro</a>
            </div>
        </div>
    </div>
    <script src="jquery-3.3.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>