<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="content/styles/main.css">
        <Title>
            Teste
        </Title>
    </head>
    <Body>
        <header>
            <div class="banner">
                oiii
            </div>
            <ul class="top-nav-bar">
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul>
        </header>
        <section class="main">
            <div class="left">
                left
            </div>
            <div class="right">
                right
            </div>
        </section>
        <footer>
        </footer>
    </Body>
</html>